body{
    text-align: center;
    background-image:url(https://image.freepik.com/free-vector/merry-christmas-snowflakes-background-design_1017-34483.jpg) 
}
p{
    color: white;
 width: auto;
  text-size-adjust: 1500px;}
   
   


 

    
    